.video-container {
    background: black;
    display: inline-block;
    line-height: 0;
    max-width: 100%;
    width: 100%;
}


#logs-header {
    margin-top: 20px;
}

.preserve-whitespace {
    white-space: pre-wrap;
}

video {
    width: 100%;
}

pre .error {
    color: red;
}

pre .warn {
    color: goldenrod;
}

#logs {
    height: 500px;
    overflow: auto;
}

#subheader {
    margin-top: 30px;
}

.viewer-live-data-row {
    margin-top: 0.5rem;
}

.viewer-live-data-chart-container {
    height: 320px;
}

.datachannel .remote-message {
    height: 6rem;
    min-height: 6rem;
    max-height: 6rem;
    margin-bottom: 0;
    overflow-y: auto;
}
